body {
  background: linear-gradient(45deg, #f7b267, #f79d65, #f4845f, #f27059);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.quiz-container {
  text-align: center;
  color: #000000;
}

h1 {
  font-size: 72px;
  margin-bottom: 20px;
  animation: pulse 1s ease infinite;
}

.start-button {
  display: inline-block;
  padding: 10px 40px;
  background-color: #fe5d26;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.start-button:hover {
  background-color: #cd533b;
  transform: scale(1.2);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
